body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    grid-gap: .2rem;
    grid-template-areas: 
    "top"
    "bottom";
}

figure {
    outline: 3px rgb(100, 100, 100) dashed;
    border-radius: 10px;
    justify-content: center;
    padding: 70px;
    margin-top: 22vh;
    margin-bottom: 10vh;
    margin-left: 25vw;
    margin-right: 25vw;
    border-radius: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
}

/* footer {
  margin-left: 20vw;
  margin-right: 5vw;
  margin-top: -5vh;
  margin-bottom: 5vh;
} */

.title {
  grid-area: top;
  color: rgb(100, 100, 100);
}

.text {
  grid-area: bottom;
  margin-top: 40px;
  font-size: 18px;
}

.st1:hover, .st2:hover {
  stroke: black;
  stroke-width: 3px;
}